* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body {
  background: #303030;
  color: #fff;
}
.gameboard {
  padding: 20px;
  width: 50%;
  margin: 2% auto;
  background: #fff;
  color: #000;
  border: 5px solid #634632;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
  color: #214412;
  margin: 15px;
}
input[type="text"] {
  width: 45%;
  font-size: 20px;
  padding: 10px;
  margin: 20px 0;
  outline-color: #214214;
}
button {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background: #214214;
  border: 3px solid #003002;
  color: #fff;
  transition: all .3s ease-in-out;
}
button:hover {
  background: #436436;
  border: 3px solid #225224;
  cursor: pointer;
}
.square {
  width: 33%;
  height: 150px;
  font-size: 100px;
  color: #214214;
  float: left;
  border-right: 5px solid #213244;
  border-bottom: 5px solid #213244;
}
#square7, #square8, #square9 {
  border-bottom: 0;
}
#square3, #square6, #square9 {
  border-right: 0;
}
.end-game {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
}
.end-game-content {
  width: 55%;
  padding: 10px;
  margin: 10% auto;
  background: #fff;
  color: #000;
  border: 3px solid #225224;
  text-align: center;
}
h3 {
  font-size: 25px;
  color: #225224;
  margin: 15px 0;
}
